.tableContainer{
    margin-top: 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    background-color: black;
    color: white;
    border-radius: 2px;
    height: 1.5vw;
    text-align: justify;
    padding-left: 0.5vw;
}

.table{
    width: 100%;
}

.listButton{
    margin-left: 1vw;
    color: white;
    background: none;
    border: none;
    border-radius: 30%;
}

.listButton:hover{
    background-color: peru;
}